.phonebook_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  margin: 0 0 20px 0;
  padding: 0 10px 0 10px;
}

.logo__wrapper {
  margin: 0 0 0 26px;
}

.logo {
  font-size: 23px;
  font-weight: 700;
  color: rgba(90, 90, 90, 0.9);
  text-shadow: 0.8px 0.8px 0 rgba(250, 250, 250, 0.9),
    1.2px 1.2px 0.2px rgba(120, 120, 120, 0.6),
    2.2px 2.2px 0.3px rgba(180, 180, 180, 0.6), 3px 3px 0.8px white;
}

.user_menu__wrapper {
  display: flex;
  align-items: center;
  height: 36px;
}

.avatar {
  margin: 0 6px 0 0;
  padding: 0;
  font-size: 31px;
  text-align: center;
  text-shadow: none;
}

.btn {
  font-size: 12px;
  border: none;
  background: transparent;
  color: rgb(160, 160, 160);
  margin: 0 4px 0 24px;
  transition: margin 0.8s ease-in-out;
}

.btn:hover {
  color: rgb(60, 60, 60);
  text-decoration: underline;
  margin: 0 0 0 28px;
  text-shadow: #909090 0.2px 0.2px 1px;
}
